{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in portfolio %}
                    <tr>
                        <td>{{ stock.stock }}</td>
                        <td>{{ stock.name }}</td>
                        <td>{{ stock.qty }}</td>
                        <td>{{ stock.price }}</td>
                        <td>{{ stock.amount }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Total</b></td>
                        <td><b>{{ total }}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Balance</b></td>
                        <td><b>{{ balance }}</b></td>
                    </tr>
            </tbody>
        </table>
{% endblock %}
