{% extends "layout.html" %}

{% block title %}
    Success
{% endblock %}

{% block main %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>

                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>{{ symbol }}</td>
                        <td>{{ name }}</td>
                        <td>{{ shares }}</td>
                        <td>{{ price }}</td>
                        <td>{{ total }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Cash</b></td>
                        <td>{{ cash }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Total</b></td>
                        <td>{{ original }}</td>
                    </tr>
            </tbody>
        </table>
{% endblock %}
